pandas
numpy
torch
transformers
datasets
lxml
pyconll
bs4
h5py
imblearn
nltk
pyarabic
scikit-learn
seaborn
matplotlib
openpyxl
librosa
plotly
tqdm
camel-tools
geopy
scipy
emoji
seaborn
matplotlib
ipykernel
nbformat
kaleido
geopandas
shapely
geodatasets